/* Reset stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ustawienia ogólne */
html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Styl dla menu */
.menu-checkbox {
    display: none;
}

.menu-button {
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 1000;
    font-size: 24px;
    background-color: #711717;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    user-select: none;
}

.menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #794949;
    color: white;
    overflow-y: auto;
    transition: left 0.3s ease-in-out;
    padding-top: 60px;
    z-index: 1000;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin-top: 45px;
    padding: 10px 20px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 18px;
}

.menu ul li a:hover {
    background-color: #7d7676;
}

.menu-checkbox:checked + .menu-button + .menu {
    z-index: 10;
    left: 0;
}

/* Nagłówek */
.naglowek {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
}

.logo_naglowka {
    width: 260px;
    height: 80px;
}

/* Sekcja wideo */
.video-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45%;
    overflow: hidden;
    margin-top: 20px;
}

.video-section video {
    width: 95%;
    height: 90%;
    object-fit: cover;
    z-index: -1;
    border-radius: 3px;
}

.info-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
    margin-top: 200px;
}

.info-section .info-text {
    font-size: 24px;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.info-section .oferta {
    display: inline-block;
    background-color: #711717;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Sekcja "O nas" */
.o_Nas {
    margin-top: 120px;
}

h1 {
    text-align: center;
    margin-top: 10px;
    color: #711717;
}

.tresc {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    flex-wrap: wrap;
}

.srodek_tresci {
    border: solid 1px black;
    margin-top: 10px;
    height: 300px;
    width: 300px;
    padding: 20px;
    text-align: center;
}

/* Sekcja oferta */
.naszaOferta {
    margin-top: 100px;
    text-align: center;
}

.oferty {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    margin-top: 70px;
}

.srodek_oferty {
    font-size: 20px;
    /* border: solid 1px black; */
}

.pokaz{
    width: 230px;
    height: 300px;
}

.cena{
    margin-top: 30px;
}

.srodek_linku_facebook{
    margin-top: 40px;
}

.facebook_link{
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: all 0.2s;
}

/* Opinie */
.opinie {
    margin-top: 100px;
}

/* Animacje i efekty */
.oferta:hover {
    transform: translateY(-6px);
    background-color: rgb(255, 255, 255);
    color:#711717;
    border: none;
}

.oferta:active {
    transform:  translateY(5px);
    background-color: rgb(200, 200, 200);
}

.pokaz:hover{
    transform: scale(1.1);
}

.facebook_link:hover{
    text-decoration: underline;
    transform: scale(1.1);
}

@keyframes oferta-pulsowanie {
    0%, 100% {
        box-shadow: 0 0 0 transparent;
    }
    50% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
}